[Desktop Entry]
Name=tpfanco-admin
Comment=Configuration and monitoring interface for tpfancod.

Exec=/usr/bin/tpfanco-admin_polkit %f
Icon=/usr/share/tpfanco-admin/tpfanco-admin-128x128.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=true
Keywords=Fan;ThinkPad;IBM;Lenovo
